:root{
    --color-first: #091e46;
    --color-second: #F7F7F7;
  }

body{
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: var(--color-first);
    height: 4rem;
}

header aside b,
header aside i{
    color: var(--color-second);
}

header aside a{
    text-decoration: none;
    border: solid 2px var(--color-second);
    border-radius: 5px;
    padding: .5rem;
}

header aside:first-child{
    text-align: center;
}